body {
    padding-top: 50px;
}

/* Ajuste da altura do radio para manter o padrão dos campos*/
.radio-inline {
    min-height: 34px;
}

/*Ajuste de altura do checkbox para manter o padrão dos campos*/
.checkbox-inline {
    min-height: 34px;
}

/*Titulo "Lançamento #1"*/
.heading-reference {
    margin-left: 30px;
}

/*Banner do Projeto Albatroz*/
.masthead img {
    max-width: 100%;
}

/*Ajuste dos títulos h1 a h4*/
.titulo {
    margin-top: 10px;
}

/* botão de adiconar captura de ave*/
.btn_ave {
    padding-left: 31px;
    padding-bottom: 15px;
}

/*Botão de submeter*/
.btn_sub {
    margin-top: 10px;
}

/*Título do cadastro de basilares*/
.titulo-cadastro{
    margin-bottom: 30px;
}

